{% extends 'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'accounts_style.css' %}">

{% endblock %}

{% block content %}
    <div id="sign_up-form-container">
        <div class="sign-user-title">
        Create an account!
        </div>
        <form method="POST" id="user-form-register">
            {% csrf_token %}
            <div class="user-form-inputs">
                {{form.as_p}}
            </div>
            <div class="user-form-btn">
                <input class="sign_up_in-user-btn" type="submit" value="Sign Up">
            </div>

        </form>
    </div>

{% endblock %}
