body {
    background-color: #313535;
    color: #d4d4d4;
    font-family: Arial;
    font-size: 1.5em;
    margin: 100px 0 0 0;

}

a {
    color: #d4d4d4;
    text-decoration: none;
    transition: opacity 250ms;
}

a:hover {
    color: #a8a8a8;
}

.navBar {
    display: flex;
    flex-direction:row;
    font-size: 1.6em;
    background-color: #333333;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    -webkit-box-shadow: inset 8px 0px 56px 8px #292a2a;
    -moz-box-shadow: inset 8px 0px 56px 8px #292a2a;
    box-shadow: inset 8px 0px 56px 8px #292a2a;
    /*Pamietaj zeby zrobic absolute i w body wrzucic top = navBar.height */
    position: fixed;
    z-index: 1;
}

.navBar-left-section{
    flex: 1;
    padding-top: 15px;

}

.navBar-middle-section{
    width: 800px;
    text-align: center;
    padding-top: 15px;
}

#btn-user{
    font-size: 0.6em;
    font-family: Arial;

}

#user{
    font-size: 0.6em;
    font-family: Arial;


}

.navBar-right-section {
    flex: 1;
    text-align: end;
    padding-top: 15px;
}

.navBar-link{
    padding-right:30px;
    padding-left: 30px;

}