body {
    background-color: #313535;
    color: #d4d4d4;
    font-family: Arial;
    align-items: center;
    font-size: 2.4vh;
    margin: 100px 0 0 0;


}

a {
    color: #d4d4d4;
    text-decoration: none;
    transition: opacity 250ms;
}

a:hover {
    color: #a8a8a8;
}

.navBar {
    background-color: #333333;
    left:0;
    right:0;
    top:0;
    display: block;
    height:80px;
    -webkit-box-shadow: inset 8px 0px 56px 8px #292a2a;
    -moz-box-shadow: inset 8px 0px 56px 8px #292a2a;
    box-shadow: inset 8px 0px 56px 8px #292a2a;
    /*Pamietaj zeby zrobic absolute i w body wrzucic top = navBar.height */
    position:fixed;
    z-index: 1;

}

.navBarList {
    list-style-type: none;


}

.navBarListElement{
    float: left;
    display:block;
    text-align: center;
}


.post-preview {
    display: grid;
    grid-template-columns: 750px;
    grid-template-rows: 40px 100px 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

/*tutaj dodaj jeszcze podzielone na 3 elementy pod diva do info*/
.post-preview-info{
    border: 1px solid black;
}

.post-preview-content {
    border: 1px solid black;
}

/*pod div do komentarzy author i odpowiedz */
.post-preview-comments{
    border: 1px solid black;
}

