{% extends 'base.html' %}

{% block content %}

    <div class="post-detail">
        <div class="post-detail-creator">
            <div class="post-detail-creator-left">
               <h2 class="post-detail-h2"><a href="{% url 'posts:profile' username=post_object.user %}" >Creator: {{post_object.user}}</a></h2>
            </div>
            <div class="post-detail-creator-right">
                Likes: {{post_object.like_counter}}
            </div>
        </div>
        <div class="post-detail-content_info-grid">
            <div class="post-detail-content">
                {{post_object.description}}
            </div>

            <div class="post-detail-info">
                    {% if user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        {{like_form}}
                        <input class="btn-post-detail-like" type="submit" value={% if user_like %} Unlike {% else %} Like {% endif %}>
                    </form>
                    {% endif %}
            </div>
        </div>


        <div class="post-detail-add-comment">
            {% if user.is_authenticated %}
            <form method="POST" id="form-add-comment">
                {% csrf_token %}
                <div class="post-detail-comment_inform-grid">
                    <div class="post-detail-inform-comment">
                        {{comment_form}}
                    </div>
                    <div class="post-detail-inform-btn-comment">
                        <input id="post-detail-comment-btn" type="submit" value="reply">
                    </div>
                </div>
            </form>
            {% endif %}
        </div>


        <div class="post-detail-comments">
            {% for comment in post_object.comments_to_post %}
                <div class="post-detail-comment">
                    <div class="post-detail-comment-owner">
                        <div class="post-detail-comment-owner-left">
                            <h3 class="post-detail-h3"><a href="{{comment.get_absolute_url}}">User: {{comment.user}}</a></h3>
                        </div>
                        <div class="post-detail-comment-owner-right">
                            {% if  comment in user_comment_owner %}
                           <button class="btn-delete-detail" type="submit" value="{{comment.id}}" id="btn-delete">remove</button>
                            {% endif %}
                       </div>

                    </div>
                    <div class="post-detail-comment-content">
                        {{comment.text}}
                    </div>

                    <div id="post-remove-form-{{comment.id}}" >

                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

<script>


    const btnDeleteAll = document.querySelectorAll('#btn-delete')
    let hiddenInput = document.createElement('input')
    let btnConfirm = document.createElement('button')
    let createForm = document.createElement('form')
    createForm.method = 'POST'
    btnConfirm.name = 'confirm-delete'
    btnConfirm.value = 'confirm'
    btnConfirm.className = 'btn-delete-detail'
    btnConfirm.innerText = 'confirm'
    hiddenInput.type = 'hidden'
    hiddenInput.name = 'comment_id'
    createForm.innerHTML += '{% csrf_token %}'

    btnDeleteAll.forEach(element => {
        element.addEventListener('click', () => {
            const commentId = element.getAttribute('value')
            const comment = document.getElementById('post-remove-form-'+commentId)
            hiddenInput.value = `${commentId}`
            createForm.appendChild(hiddenInput)
            createForm.appendChild(btnConfirm)
            comment.appendChild(createForm)
        })
    }, btnDeleteAll)


</script>
{% endblock %}