{% extends 'base.html' %}

{% block content %}

    {% for post in posts %}
    <div class="post-preview-grid">
        <div class="post-preview-info-grid">
            <div class="post-preview-info-creator">
                <a href="{{post.get_absolute_url}}">Creator: {{post.user}} </a>
            </div>
            <div class="post-preview-info-created">
                Created: {{post.created|date:'Y/m/d'}}
            </div>
            <div class="post-preview-info-likes">
                Likes: {{post.like_counter}}
            </div>

        </div>
        <div class="post-preview-content">
            {{post.description}}
        </div>
        {% for comment in post.comments_to_post|slice:"0:4" %}

        <div class="post-preview-comments-grid">
            <div class="post-preview-comments-owner">
                <a href="{{comment.get_absolute_url}}">User: {{comment.user}} </a>
            </div>
            <div class="post-preview-comments-content">
                {{comment.text}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}